body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
nav {
  background-color: #333;
  color: #ddd;
}

.menu-toggle {
  background: #000;
  cursor: pointer;
  padding: 1em;
  display: block;
  text-align: right;
}
#menuToggle {
  display: none;
}
#menuToggle:checked ~ ul a {
  /* breng de eigenschappen van het menu terug als #menuToggle gechecked is */
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  transform: scaleY(1);
  border-bottom: 1px solid #eee;
}

#menuToggle:checked ~ .menu-toggle .fa-times {
  display: block;
}

#menuToggle:checked ~ .menu-toggle .fa-bars {
  display: none;
}

/* het menu verbergen */
.fa-times {
  display: none;
}


nav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
nav a {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 1em;
  /*verberg het menu*/
  border-bottom: 0 solid #eee;
  font-size: 0;
  height: 0;
  line-height: 0;
  transform: scaleY(0);
  transition: all 0.7s ease-out;
}

nav a:hover {
  color: #fff;
  background: #000;
}

.heeft-submenu ul {
  padding-left: .5em;
  border-left: 5px double #ddd;
}
/* submenu verbergen */
#nav .heeft-submenu li a {
  font-size: 0;
  height: 0;
  line-height: 0;
  transform: scaleY(0);
  border-bottom-width: 0;
  transition: all .5s ease-out;
}
/* het submenu tonen bij een hover van .heeft-submenu */
#nav .heeft-submenu:hover li a {
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  transform: scaleY(1);
  border-bottom-width: 1px;
}

.heeft-submenu > a {
  display: grid;
  grid-template-columns: 1fr auto;
}

.heeft-submenu > a:after {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  content: "\f0d7";
}
.heeft-submenu:hover > a:after {
  content: "\f150"
}

main {
  padding: 1em;
}
main img {
max-width: 100%;
}

footer{
  padding: 1em;
  background: #ddd;
  color: #ddd;
  display: grid;
  grid-template-columns: 1fr auto;
}
/*opmaak bredere viewport */
@media screen and (min-width:40em) {
  nav>ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
  /* toggle label verwijderen */
  .menu-toggle {
    display: none;
  }
  nav a {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    transform: scaleY(1);
  }
  .heeft-submenu {
    position: relative;
  }
  .heeft-submenu ul {
    position: absolute;
    border-left: 0;
    padding: 0;
    width: 100%;
  }
  .heeft-submenu a {
    background-color: #333;
  }
}
