@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body, h3 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 2em;
}

header, aside {
  background-color: hsla(120, 100%, 50%, 0.3);
}

h1, h3 {
  font-family: 'PT Sans'
}

h1, .tagline {
  color: #47a;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: .2em;
}

.kant-nummer {
  background-color: green;
  color: #fff;
  font-size: 3em;
  width: 1.2em;
  text-align: right;
  padding: .2em;
}

article {
  padding: 1em;
}

section img {
  max-width: 100%;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside h3 {
  background-color: green;
  padding: 2em;
  color: #fff;
}

aside a {
  text-decoration: none;
  padding: 2em;
  display: block;
}

aside a:hover {
  background-color: #47a;
  color: #fff;
}

footer {
  background-color: #333;
  color: #eee;
  padding: 2em;
}

@media screen and (min-width: 760px) {
  .afb {
    display: block;
    background-image: url('images/tuinieren.jpg');
    background-size: cover;
    background-position: center;

  }
  .afb2 {
    display: block;
    background-image: url('images/natuurlijk-tuinieren.jpg');
    background-size: cover;
    background-position: center;
  }
  
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "kop kop"
    "t1 t2"
    "t3 t4"
    "t3 t5"
    "afb t6"
    "t7 aside"
    "t8 aside"
    "t9 aside"
    "t10 aside"
    "voet voet";
  }
  header {grid-area: kop;}
  .erfgrenzen {grid-area: t1;}
  .rustig {grid-area: t2;}
  .vogels {grid-area: t3;}
  .warm {grid-area: t4;}
  .afb {grid-area: afb;}
  .afb2 {grid-area: afb2;}
  .rommelkast {grid-area: t5;}
  .meubilair {grid-area: t6;}
  .tuinkas {grid-area: t7;}
  .lichten {grid-area: t8;}
  .plantenbakken {grid-area: t9;}
  .outofthebox {grid-area: t10;}
  aside {grid-area: aside;}
  footer {grid-area: voet;}

  h1 {
    font-size: 2.6em;
  }

  .agenda_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .agenda_article h3 {
  grid-column: span 2;
  }
  footer {
    grid-template-columns: 1fr auto;
  }
@media screen and (min-width:1000px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "kop kop kop"
    "t1 afb t2"
    "t3 afb t4"
    "t3 t6 t5"
    "t7 t8 aside"
    "afb2 afb2 aside"
    "afb2 afb2 aside"
    "afb2 afb2 aside"
    "afb2 afb2 aside"
    "afb2 afb2 aside"
    "t9 t10 aside"
    "voet voet aside";
  }
}
}
